*.iml
*.jar
*.class
*.css
*.xml
*.html
*.properties
*.war
*.conf
*.sh
*.gif
*.js
target
.settings
.project
build
hadoop-common-project/hadoop-kms/downloads/
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
